<!-- prettier-ignore -->
{% extends "user_interface/base.html" %}
{% block content %}

<!-- Start body-->

<div id="card_form">
  <h1>{{title}} Employee</h1>
  <div id="form_content">
    <form method="post">
      <div class="form_grid_container">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% if form.card_code %}
        <div class="form_grid_item_1">
          {{ form.card_code.errors }}
          <label for="card_code">Card Code</label>
          {{ form.card_code }}
        </div>
        {% endif %}

        <div class="form_grid_item_2">
          {{ form.associated_name.errors }}
          <label for="card_code">Full Name</label>
          {{ form.associated_name }}
        </div>

        <div class="form_grid_item_3">
          {{ form.associated_phone_number.errors }}
          <label for="card_code">Phone number</label>
          {{ form.associated_phone_number }}
        </div>

        <div class="form_grid_item_4">
          {{ form.granted_access_level.errors }}
          <label for="card_code">Access level</label>
          {{ form.granted_access_level }}
        </div>

        <div class="form_grid_item_5">
          <button id="submit-employee-btn" type="submit">Submit</button>
        </div>

      </div>
    </form>

    <a href="{% url 'home-page' %}">
      <button id="back-btn">Back</button>
    </a>
  </div>

</div>

<!-- End body-->
{% endblock content%}