<!-- prettier-ignore -->
{% extends "user_interface/base.html" %}
{% block content %}
<!-- Start body-->

<h1>Manage Employees</h1>
<div>
  <table class="employees_table">
    <tr>
      <th>Name</th>
      <th>Phone number</th>
      <th><a href="{% url 'add-user-page' %}">Add</a></th>
    </tr>
    {% for card in cards %}
    <tr>
      <td>{{ card.associated_name }}</td>
      <td>{{ card.associated_phone_number }}</td>
      <td>
        <a href="{% url 'employee-details-page' card.card_uid %}">Details</a>
      </td>
    </tr>

    <!-- prettier-ignore -->
    {% endfor %}
  </table>
</div>
<!-- End body-->
{% endblock content%}
